body{

}
#container{
    background-color: gray;
    border: 2px solid red;
    padding: 15px;
    width: 300px;
    height: 300px;
    display:flex;
    /*alinhamento horizontal*/
    justify-content: space-between;
   /* alinhamento vertical*/
   align-items: center ;
   flex-wrap: wrap;

}
.item{

    background-color: wheat;
    border: 2px solid blue;
    height: 50px;
    width: 50px;
}
.box{
    background-color: wheat;
    border: 2px solid blue;
    height: 50px;
    flex-basis: 40px;
    
}
/*#item1{
   flex-basis: 100px;
}
#item2{
   
    flex-grow: 2;
    
}
#item3{
 flex-shrink: 2;
}
p{
    text-align: center;
}*/
#item3{
    order: 1;
}
#item2{
    order: 2;
}
#item1{
    order:3 ;
}