@charset  "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Passion+One & family= Sriracha & display=swap');
*{
   margin: 0;
   padding: 0;
   text-decoration: none;

   
}
body{
   background-color: rgb(255, 255, 255);
   width: 100%;
   
}
:root{
   --fonte-titulo: 'Passion one',cursiva;
   --fonte-cordel: 'Sriracha', cursive;
   --fonte-padrao: Verdana, Geneva, Tahoma, sans-serif;
}
header{
   background-color:black;
   padding-bottom: 50px;
   margin: 0;
   
}
h1{
   text-align: center;
   color: white;
   font-family: var(--fonte-titulo);
   font-variant: small-caps;
   font-size: 100px;
   padding-top: 23px;
}
header >p{
   color: white;
   text-align: center;
}
a{
   color: white;
}
   
.imagem-joana{
   background-image: url(imagens/background001.jpg);
   background-position: center right;
   background-repeat: no-repeat;
   background-attachment: fixed;
   padding-top: 100px;
   padding-bottom: 100px;
}
