@charset  "UTF-8";


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif
  
}
body{
 height: 98vh
}
@import url('https://fonts.googleapis.com/css2? family= Passion+One & family= Sriracha & display=swap');
header{
    background-color: black;
    color: white;
    text-align: center;
    padding-bottom: 100px;
    
    
}
header >h1{
   font-family:'Passion One',cursiva;
   padding-top: 50px;
   font-weight: bold;
   font-size: 136px;

  
}

a{
    color: white;
    
}
.normal{
background-color: white;
padding-bottom: 100px;
padding-top: 100px;


 }
 .normal > p{
   font-family: 'Sriracha',cursive;
   padding-left: 20px;
   font-size: 47px;
   
 }
 .imagem-joana{
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-attachment: fixed;
    padding-top: 100px;
    padding-bottom: 100px;
    
 }
 .imagem-livro{
    background-image: url(imagens/background002.jpg);
    background-position: center center;
    background-attachment: fixed;
    padding-top: 100px;
    padding-bottom: 100px;
    

 }
 footer{
    background-color: black;
    color:white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
 }
 .paragrafo-imagem{
    background-color: rgba(0, 0, 0, 0.39);
   
    color:white;
    padding-left: 20px;
    font-family: 'Sriracha', cursive;
    font-size: 47px;
    
 }