@charset "UTF-8";

body{
    background-color: lightgoldenrodyellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    color: brown;
    background-color: maroon;
}
h2{
    color: blue;
}
p{
    color: rgb(228, 13, 120);
}
p{text-align:justify;}


